/dash-01.py
/datagouv-communes.geojson
/dict.py
/ex01_imdb.py
/ex2.csv
/ex2.py
/fig.html
/gapminder.csv
/gapminder.py
/geolocalisation.py
/idf.geojson
/map.html
/NotreDameDeParis.txt
/population.csv
/population.py
/world_shark_attacks.html